{% extends 'main/base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="card-body mt-4 container">
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid">
    {% else %}
        <div class="card-img-top bg-light text-secondary text-center py-3" style="width:600px; height: 400px;">
            No Image Available
        </div>
    {% endif %}
    
    <h2 class="mt-4 text-center">{{ post.title }}</h2>

    {{ post.body|linebreaks }}
    <p class="date fw-lighter">Published {{ post.publish|date:"j F, Y" }} by {{ post.author }}</p>
    
    <p>
        <a href="{% url 'main:post-share' post.id %}">Share this post</a>
    </p>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment bg-light">
            <p class="info">
                {{ comment.name }} - 
                {{ comment.created|date:"j F, Y" }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
        {% empty %}
            <p>There are no comments.</p>
        {% endfor %}
        {% include "main/post/includes/comment_form.html" %}
    
</div>
{% endblock content %}