{% extends 'main/base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<div class="card-body mt-4">
    <h2>{{ post.title }}</h2>
    
    
    {% if post.image %}
        <img src="{{ post.image.url }}" style="width:600px; height:400px;">
    {% else %}
        <div class="card-img-top bg-secondary text-white text-center py-3" style="width:600px; height: 400px;">
            No Image Available
        </div>
    {% endif %}
    

    {{ post.body|linebreaks }}
    
    <p>
        <a href="{% url 'main:post-share' post.id %}">Share this post</a>
    </p>
    <p class="date fw-lighter">Published {{ post.publish }} by {{ post.author }}</p>
</div>
{% endblock content %}