{% extends 'main/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="card-body mt-4">
    <h1>{{ post.title }}</h1>
    

    {% if post.image %}
        <img src="{{ post.post_image.url }}" style="width:200px; height:200px;">
    {% else %}
        <div class="card-img-top bg-secondary text-white text-center py-3">
            No Image Available
        </div>
    {% endif %}

    {{ post.body|linebreaks }}
    
    <p>
        <a href="{% url 'main:post-share' post.id %}">Share this post</a>
    </p>
    <p class="date fw-lighter">Published {{ post.publish }} by {{ post.author }}</p>
</div>
{% endblock %}