{% extends 'main/base.html' %}

{% block title %}Blog{% endblock title %}

{% block content %}
    <div class="d-flex flex-column align-items-center mt-4">
        {% for post in posts %}
            <div class="card border-info mb-3">
                <div class="card-body" style="width: 38rem;">
                    <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                    
                    
                    <img src="{{ post.post_image.url }}" style="width:100px; height:100px;">
                    
                    
                    {{ post.body|truncatewords:30|linebreaks }}
                    <p class="date fw-lighter">Published {{ post.publish }} by {{ post.author }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}