{%  load crispy_forms_tags %}



<div style="min-height: 100vh;">
    
    <div class="row">
        <div class="col-md-6">
            <div class="card mx-auto">
                <div class="card-body">
                    <h3>Add a new comment</h3>
                    <form action="{% url 'main:post-comment' post.id %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <p><input type="submit" value="Add Comment"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

